extends regionBase
include _exerciseCard

block content
  header.header
    .navigation-wrap.start-header.start-style.animate__bounceInDown.animate__animated
      .container
        .row
          .col-12
            nav.navbar.navbar-expand-md
              a.navbar-brand(href='/')
                img(src='/img/logo2.png' alt='logo')
              .menu-wrapper.navbar-toggler.p-0(data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                .hamburger-menu
              #navbarSupportedContent.collapse.navbar-collapse.links
                ul.navbar-nav.ml-auto.py-4.py-md-0
                  li.nav-item.pl-md-0.ml-0.ml-md-4
                    a.nav-link(href='/') Home
                  li.nav-item.pl-md-0.ml-0.ml-md-4
                    a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') About
                    .dropdown-menu.border-0.bg-transparent
                      a.dropdown-item.overlayLeftBtn.pl-3(href='/gallery')
                        span Gallery
                      a.dropdown-item.overlayLeftBtn.pl-3(href='/rules')
                        span Rules
                  li.nav-item.pl-md-0.ml-0.ml-md-4
                    a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') Services
                    .dropdown-menu.border-0.bg-transparent
                      a.dropdown-item.overlayLeftBtn.pl-3(href='/memberships')
                        span Memberships
                      a.dropdown-item.overlayLeftBtn.mt-2.mb-2.pl-3(href='/group-exercises')
                        span
                          | Group
                          br
                          | exercises
                      a.dropdown-item.overlayLeftBtn.pl-3(href='/relax')
                        span Relax
                      a.dropdown-item.overlayLeftBtn.pl-3(href='/sport-areas')
                        span
                          | Sport
                          br
                          | Areas
                  li.nav-item.pl-md-0.ml-0.ml-md-4
                    a.nav-link(href='/trainers') Trainers
                  li.nav-item.pl-md-0.ml-0.ml-md-4
                    a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') Find gym
                    .dropdown-menu.border-0.bg-transparent
                      a.dropdown-item.overlayLeftBtn(href='/regions')
                        span Regions
                      a.dropdown-item.overlayLeftBtn(href='/extras')
                        span Extras
                  li.nav-item.pl-md-0.ml-0.ml-md-4
                    a.nav-link(href='/about') Contact
                  .nav-item.languages
                    if region.slug === 'oceania'
                      a(href='https://stargym.herokuapp.com/regiony/australia')
                        img.sk_flag(src='/img/slovakia.png' alt='sk_flag')
                      img.uk_flag(src='/img/uk.png' alt='uk_flag')
                    else if region.slug === 'asia'
                      a(href='https://stargym.herokuapp.com/regiony/azia')
                        img.sk_flag(src='/img/slovakia.png' alt='sk_flag')
                      img.uk_flag(src='/img/uk.png' alt='uk_flag')
                    else if region.slug === 'north-america'
                      a(href='https://stargym.herokuapp.com/regiony/severna-amerika')
                        img.sk_flag(src='/img/slovakia.png' alt='sk_flag')
                      img.uk_flag(src='/img/uk.png' alt='uk_flag')
                    else if region.slug === 'south-america'
                      a(href='https://stargym.herokuapp.com/regiony/juzna-amerika')
                        img.sk_flag(src='/img/slovakia.png' alt='sk_flag')
                      img.uk_flag(src='/img/uk.png' alt='uk_flag')
                    else if region.slug === 'africa'
                      a(href='https://stargym.herokuapp.com/regiony/afrika')
                        img.sk_flag(src='/img/slovakia.png' alt='sk_flag')
                      img.uk_flag(src='/img/uk.png' alt='uk_flag')
                    else 
                      a(href='https://stargym.herokuapp.com/regiony/europa')
                        img.sk_flag(src='/img/slovakia.png' alt='sk_flag')
                      img.uk_flag(src='/img/uk.png' alt='uk_flag')

  main
    section.section-header
      .header__hero
        .header__hero-overlay  
        img.header__hero-img(src=`/img/region/${region.imageCover}`)
      .heading-box
        h2.heading-primary.animate__fadeInDown.animate__animated
          if region.slug === 'oceania'
            span(class='australia__span')=`Star Gym ${region.name}`
          else if region.slug === 'europe'
            span(class='eu__span')=`Star Gym ${region.name}`
          else if region.slug === 'africa'
            span(class='africa__span')=`Star Gym ${region.name}`
          else if region.slug === 'south-america'
            span(class='south__span')=`Star Gym ${region.name}`
          else if region.slug === 'north-america'
            span(class='north__span')=`Star Gym ${region.name}`
          else 
            span(class='asia__span')=`Star Gym ${region.name}`
        .heading-box__group
          .heading-box__detail
            svg.heading-box__icon
              use(xlink:href='/img/icons.svg#icon-flag')
            span=`${region.futureCentre} future centres` 
          .heading-box__detail
            svg.heading-box__icon
              use(xlink:href='/img/icons.svg#icon-map-pin')
            span= region.centerQuatity

    section.section-description
      .overview-box
        h3.heading-secondary
          p Join us
          p today
        p.description__text= region.description
      .description-box
        h3.heading-secondary=`${region.regionName} centres`
        ul
          each city in region.cityList
            li.overview-box__detail= city

    section.section-pictures
      each img, i in region.imgList
        .picture-box
          img.picture-box__img(src=`/img/region/${img}`, class=`picture-box__img--${i + 1}`)
    section.section-map
      #map(data-locations=`${JSON.stringify(region.locations)}`)

    if region.slug === 'oceania'
      section.section-exercises(class='australia__span')
        .exercises
          each exercise in region.exercises
            +exerciseCard(exercise)
    else if region.slug === 'europe'
      section.section-exercises(class='eu__span')
        .exercises
          each exercise in region.exercises
            +exerciseCard(exercise)
    else if region.slug === 'africa'
      section.section-exercises(class='africa__span')
        .exercises
          each exercise in region.exercises
            +exerciseCard(exercise)
    else if region.slug === 'south-america'
      section.section-exercises(class='south__span')
        .exercises
          each exercise in region.exercises
            +exerciseCard(exercise)
    else if region.slug === 'north-america'
      section.section-exercises(class='north__span')
        .exercises
          each exercise in region.exercises
            +exerciseCard(exercise)
    else 
      section.section-exercises(class='asia__span')
        .exercises
          each exercise in region.exercises
            +exerciseCard(exercise)

  footer.footer.region__footer
    .container.pt-3
      .row.pic.d-flex
        .col.d-flex.justify-content-center
          a.footer-logo-link.footer-inline-block(href='/')
            img(src='/img/logo2.png' alt='logo')
      .row.d-flex.justify-content-center.text-center
        .col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
          h5.footer-h PRODUCTS
          ul.footer-list.w-list-unstyled.text-center(role='list')
            li.list-item
              a.footer-link(href='#') Maps
            li
              a.footer-link(href='#') Navigation
            li
              a.footer-link(href='#') Search
            li
              a.footer-link(href='#') About us
            li
              a.footer-link(href='#') Vision SDK
            li
              a.footer-link(href='#') Home
            li
              a.footer-link(href='#') Price List
        .col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
          h5.footer-h PLATFORMS
          ul.footer-list.w-list-unstyled(role='list')
            li
              a.footer-link(href='#') Web
            li
              a.footer-link(href='#') Mobile
            li
              a.footer-link(href='#') VR
            li
              a.footer-link(href='#') Laptop
        .col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
          h5.footer-h SUPPORT
          ul.footer-list.w-list-unstyled.pb-3(role='list')
            li
              a.footer-link(href='#') Documentation
              a.footer-link(href='#') Paid Support
            li
              a.footer-link(href='#') Advice
              a.footer-link(href='#') Support
        .col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
          h5.footer-h Company
          ul.footer-list.w-list-unstyled(role='list')
            li
              a.footer-link(href='#') About us
            li
              a.footer-link(href='#') Customers
            li
              a.footer-link(href='#') Sponzors
            li
              a.footer-link(href='#') Advertisements
            li
              a.footer-link(href='#') Community
            li
              a.footer-link(href='#') Contact
        .col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
          h5.footer-h Others
          ul.footer-list.w-list-unstyled(role='list')
            li
              a.footer-link(href='#') Relax
            li
              a.footer-link(href='#') Wellness
            li
              a.footer-link(href='#') Logistics
            li
              a.footer-link(href='#') Sport centers
            li
              a.footer-link(href='#') Boxing rings
            li
              a.footer-link(href='#') Restaurant
            li
              a.footer-link(href='#') Saunas
            li
              a.footer-link(href='#') Events
            li
              a.footer-link(href='#') Blog
      .row.justify-content-center.text-center.align-items-center
        .col-12.mb-3.col-lg-4
          a.footer-link.bottom-link(style='font-weight:normal;font-size:large' href='#')
            | Terms & Conditions
          br
          a.footer-link.bottom-link(style='font-weight:normal;font-size:large' href='#')
            | Privacy
          a.footer-link.bottom-link(style='font-weight:normal;font-size:large' href='#')
            | Security
          br
        .col-12.mb-3.col-lg-4.names
          div(style='font-weight:normal;font-size:large')
            | Created by 
            a(href='https://www.instagram.com/mato_157/')
              b
                | Martin
                | Lauff
            |                         & 
            a(href='https://www.instagram.com/_michal.belko_/')
              b Michal Belko
          br
          .mt-3.bottom-link © Star gym
          br
        .col-12.col-lg-4
          a.social.footer-inline-block.mr-3
            div(style=' width: 100% ')
              i.fab.fa-facebook-square.fa-3x
          a.social.footer-inline-block.mr-3
            div(style=' width: 100% ')
              i.fab.fa-github-square.fa-3x
          a.social.footer-inline-block.mr-3
            div(style=' width: 100% ')
              i.fab.fa-linkedin.fa-3x
          a.social.footer-inline-block
            div(style=' width: 100% ')
              i.fab.fa-instagram.fa-3x